.header_picture {
    background: url("https://cdn.hipwallpaper.com/i/36/66/8HAtDU.jpg") center/cover;
    width: 100%;
    height: 300px;
}

.descriptionBlock {
    padding: 20px;
}

.avatarImage img {
    width: 220px;
    border-radius: 25px;
}