.nav {
  grid-area: n;
  background-color: black;
  padding: 20px;
}

.item {
  color: white;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active{
  color: deepskyblue;
}

.item a:hover{
  color: deepskyblue;
  font-size: 20px;
}

.item a.activeLink {
  color: deepskyblue;
}